
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>


</head>

<div class="login-box">
    <div class="lb-header">
        <a href="#" class="active" id="login-box-link">Login</a>
        <a href="#" id="signup-box-link">Sign Up</a>
    </div>
    <form class="email-login">
        <div class="u-form-group">
            <input type="rn" placeholder="Roll Number"/>
        </div>
        <div class="u-form-group">
            <input type="password" placeholder="Password"/>
        </div>
        <div class="u-form-group">
            <button id="signin">Log in</button>
        </div>
        <div class="u-form-group">
            <a href="#" class="forgot-password">Forgot password?</a>
        </div>
    </form>

    <form class="email-signup" method="POST" action="/register">
        <div class="u-form-group">
            <input type="rn" placeholder="Roll Number"/>
        </div>
        <div class="u-form-group">
            <input type="fn" placeholder="First Name"/>
        </div>
        <div class="u-form-group">
            <input type="ln" placeholder="Last Name"/>
        </div>
        <div class="u-form-group">
            <input type="password" placeholder="Password"/>
        </div>
        <div class="u-form-group">
            <input type="password" placeholder="Confirm Password"/>
        </div>
        <div class="u-form-group">
            <button id="signup">Sign Up</button>
        </div>
    </form>
</div>
<script>
    $(".email-signup").hide();
    $("#signup-box-link").click(function(){
        $(".email-login").fadeOut(100);
        $(".email-signup").delay(100).fadeIn(100);
        $("#login-box-link").removeClass("active");
        $("#signup-box-link").addClass("active");
    });
    $("#login-box-link").click(function(){
        $(".email-login").delay(100).fadeIn(100);;
        $(".email-signup").fadeOut(100);
        $("#login-box-link").addClass("active");
        $("#signup-box-link").removeClass("active");
    });

</script>

</html>